body, html {
  background-color: #fff;
  color: #333;
  line-height: 1.75;
  height: 100%
}
  
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'Graphik';
  src: url('./fonts/Graphik-Light-Web.woff2') format('woff2'),
      url('./fonts/Graphik-Light-Web.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('./fonts/Graphik-Regular-Web.woff2') format('woff2'),
      url('./fonts/Graphik-Regular-Web.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('./fonts/Graphik-Medium-Web.woff2') format('woff2'),
      url('./fonts/Graphik-Medium-Web.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Barlow';
  src: url('./fonts/Barlow-Bold.woff2') format('woff2'),
      url('./fonts/Barlow-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Barlow';
  src: url('./fonts/Barlow-Italic.woff2') format('woff2'),
      url('./fonts/Barlow-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Barlow';
  src: url('./fonts/Barlow-Regular.woff2') format('woff2'),
      url('./fonts/Barlow-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
